.action {
    cursor: pointer;
}

.orange-color{
    color: #FF7300;
}

.orange-color:hover {
    color: #000;
    cursor: pointer;
}
.cancelar {
    color:#fff !important;
    background-color: #3e3e3e!important;
}

.salvar {
    color: #fff !important;
    background-color: #FF7300 !important;
}

.action {
    cursor: pointer;
}

.header-creator {
    background-color: #FF7300;
    color: #fff;
    font-size: 150%;
}

.btn-add {

}

.link-rota:hover{
    color: #000;
}

.check-questao {
    height: 2rem;
    width: 2rem;
}

.text-download {
    font-size: 1.5rem;
}

.titulo-ma {
    font-size: 1.5rem;
}

.bg-orange {
    background-color: #FF7300 !important;
}
.altura-time {
    height: 10em;
}
